<nav id="header" class="navbar navbar-default ">
      <div class="container">
        <div class="row">
          <div class="navbar-header col-lg-3 col-md-4 col-sm-3 col-xs-12">
            <div class="logoheader">
              <div class="logo">
                <a class="navbar-brand" title="OpenNESS" href="/">
                <img src="{{ '/images/openness-logo.png' | prepend: site.siteurl }}" alt="OpenNESS" width="340" height="85" class="tabRest">
                <img src="{{ '/images/openness-logo-sm.png' | prepend: site.siteurl }}" alt="OpenNESS" width="170" height="45" class="tabOnly" style="display:none;">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-9 col-xs-12">
            <div class="menubar">
              <div class="container">
                <div id="navbarCollapse" class="navbar-collapse col-lg-8 col-md-8 col-sm-12 col-xs-12 navigation">
                  <div class="nav-mobile">
					<span class="hamb-top"></span>
					<span class="hamb-middle"></span>
					<span class="hamb-bottom"></span>
				  </div>
                  <ul class="nav menu opennessmenu mod-list">
                    <li class="item-102 deeper parent">
                      <a href="/about">About</a>
                      <ul class="nav-child unstyled small" style="display: none;">
                        <li class="item-118"><a href="/about#openness-overview">OpenNESS Overview</a></li>
                        <li class="item-119"><a href="/about#technical-steering-committee-charter">Technical Steering Committee Charter</a></li>
                      </ul>
                    </li>
                    <li class="item-137 deeper parent">
                      <a href="https://github.com/open-ness/specs/tree/master/doc/getting-started" target="_blank" rel="noopener noreferrer">Getting Started</a>
                      <ul class="nav-child unstyled small" style="display: none;">
                        <li class="item-138"><a href="https://github.com/open-ness/specs/blob/master/doc/getting-started/network-edge/controller-edge-node-setup.md" target="_blank" rel="noopener noreferrer">OpenNESS Network Edge Getting Started</a></li>
                        <li class="item-139"><a href="https://github.com/open-ness/specs/blob/master/doc/getting-started/on-premises/controller-edge-node-setup.md" target="_blank" rel="noopener noreferrer">OpenNESS On-Premise Edge Getting Started</a></li>
                      </ul>
                    </li>
					<li class="item-143"><a href="/docs/">Documentation</a></li>
                    <li class="item-103 deeper parent">
                      <a href="/resources">Resources</a>
                      <ul class="nav-child unstyled small" style="display: none;">
                        <li class="item-120"><a href="/resources#whitepaper">Whitepaper</a></li>
                        <li class="item-121"><a href="/resources#video">Video</a></li>
                        <li class="item-130"><a href="/resources#training">Training</a></li>
                        <li class="item-135"><a href="/resources/social-videos">Social Videos</a></li>
                        <li class="item-136"><a href="/resources/podcasts">Podcasts</a></li>
                      </ul>
                    </li>
                    <li class="item-122 deeper parent">
                      <a href="/developers">Developers</a>
                      <ul class="nav-child unstyled small" style="display: none;">
                        <li class="item-123"><a href="/developers#apidoc">API Documentation</a></li>
                        <li class="item-124"><a href="/developers#mailinglist">Mailing List</a></li>
                        <li class="item-125"><a href="/developers#softwarerelease">OpenNESS Software</a></li>
                      </ul>
                    </li>
                    <li class="item-104 deeper parent">
                      <a href="/news-and-events">News &amp; Events</a>
                      <ul class="nav-child unstyled small" style="display: none;">
                        <li class="item-132"><a href="/news-and-events#news">News</a></li>
                        <li class="item-126"><a href="/news-and-events#blog">Blog</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
