swagger: '2.0'
info:
  version: 1.0.1
  title: AF Northbound APIs
  description: AF Northbound API schema
  contact: {}
host: sampleapi.com
basePath: /CNCA/1.0.1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/AFTransactions':
    get:
      description: Read all of the active subscriptions from AF
      summary: Read all of the active subscriptions from AF
      tags:
        - TrafficInfluence API AF level GET Operation
      operationId: SubscriptionsGet
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: appPolicyId
          in: path
          required: true
          type: string
          description: Identifier of the subscription resource at AF
      responses:
        '200':
          description: OK.
          schema:
            type: array
            items:
              $ref: '#/definitions/CNCATrafficInfluSub'
          headers: {}
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '406':
          description: Not Acceptable
          schema:
            $ref: '#/definitions/ProblemDetails'
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ProblemDetails'
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ProblemDetails'
        default:
          description: Generic Error
          schema: {}
    post:
      description: Creates a new subscription using application policy ID as its identifier
      summary: Creates a new subscription resource at AF
      tags:
        - TrafficInfluence API subscription level POST Operation
      operationId: SubscriptionsByAppPolicyIdPost
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: appPolicyId
          in: path
          required: true
          type: string
          description: Identifier of the subscription resource at AF
        - name: body
          in: body
          required: true
          description: Request to create a new subscription resource
          schema:
            $ref: '#/definitions/CNCATrafficInfluSub'
      responses:
        '201':
          description: Created (Successful creation of subscription)
          schema:
            $ref: '#/definitions/CNCATrafficInfluSub'
          headers:
            Location:
              type: string
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '411':
          description: Length Required
          schema:
            $ref: '#/definitions/ProblemDetails'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ProblemDetails'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ProblemDetails'
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ProblemDetails'
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ProblemDetails'
        default:
          description: Generic Error
          schema: {}
  '/AFTransactions/{appPolicyId}':
    get:
      description: Read an active subscription for the AF and the application policy Id
      summary: Read an active subscriptions for the AF and the application policy Id
      tags:
        - TrafficInfluence API subscription level GET Operation
      operationId: SubscriptionsByAppPolicyIdGet
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: appPolicyId
          in: path
          required: true
          type: string
          description: Identifier of the resource at AF
      responses:
        '200':
          description: OK (Successful get the active subscription)
          schema:
            $ref: '#/definitions/CNCATrafficInfluSub'
          headers: {}
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '406':
          description: Not Acceptable
          schema:
            $ref: '#/definitions/ProblemDetails'
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ProblemDetails'
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ProblemDetails'
        default:
          description: Generic Error
          schema: {}
    put:
      description: Updates/replaces an existing subscription resource
      summary: Updates/replaces an existing subscription resource
      tags:
        - TrafficInfluence API subscription level PUT Operation
      operationId: SubscriptionsByAppPolicyIdPut
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: appPolicyId
          in: path
          required: true
          type: string
          description: Identifier of the AF
        - name: body
          in: body
          required: true
          description: Parameters to update/replace the existing subscription
          schema:
            $ref: '#/definitions/CNCATrafficInfluSub'
      responses:
        '200':
          description: OK (Successful update of the subscription)
          schema:
            $ref: '#/definitions/CNCATrafficInfluSub'
          headers: {}
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '411':
          description: Length Required
          schema:
            $ref: '#/definitions/ProblemDetails'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ProblemDetails'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ProblemDetails'
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ProblemDetails'
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ProblemDetails'
        default:
          description: Generic Error
          schema: {}
    patch:
      description: Updates/replaces an existing subscription resource
      summary: Updates/replaces an existing subscription resource
      tags:
        - TrafficInfluence API subscription level PATCH Operation
      operationId: SubscriptionsByAppPolicyIdPatch
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: appPolicyId
          in: path
          required: true
          type: string
          description: Identifier of the resource
        - name: body
          in: body
          required: true
          description: Provides a patch for traffic subscription identified by application policy ID
          schema:
            $ref: '#/definitions/CNCATrafficInfluSubPatch'
      responses:
        '200':
          description: OK. The subscription was modified successfully.
          schema:
            $ref: '#/definitions/CNCATrafficInfluSub'
          headers: {}
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '411':
          description: Length Required
          schema:
            $ref: '#/definitions/ProblemDetails'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ProblemDetails'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ProblemDetails'
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ProblemDetails'
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ProblemDetails'
        default:
          description: Generic Error
          schema: {}
    delete:
      description: Deletes an already existing subscription
      summary: Deletes an already existing subscription
      tags:
        - TrafficInfluence API Subscription level DELETE Operation
      operationId: SubscriptionsByAppPolicyIdDelete
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: appPolicyId
          in: path
          required: true
          type: string
          description: Identifier of the resource at AF
      responses:
        '204':
          description: No Content (Successful deletion of the existing subscription)
          headers: {}
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ProblemDetails'
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ProblemDetails'
        default:
          description: Generic Error
          schema: {}
definitions:
  CNCATrafficInfluSub:
    title: CNCATrafficInfluSub
    type: object
    properties:
      anyUeInd:
        description: Identifies whether the CNCA request applies to any UE.
        type: boolean
      subscribedEvents:
        description: Identifies the requirement to be notified of the event(s).
        type: array
        items:
           $ref: '#/definitions/SubscribedEvent'
        minItems: 1
      dnaiChgType:
        description: Identifies the type of notification regarding UP path management event. Possible values are EARLY - early notification of UP path reconfiguration. EARLY_LATE - early and late notification of UP path reconfiguration. This value shall only be present in the subscription to the DNAI change event. LATE - late notification of UP path reconfiguration.
        type: string
        enum: 
          - EARLY
          - LATE
          - EARLY_LATE
      trafficFilters:
        description: Identifies IP packet filters.
        type: array
        items:
          $ref: '#/definitions/FlowInfo'
        minItems: 1
      trafficRoutes:
        description: Identifies the N6 traffic routing requirement.
        type: array
        items:
          $ref: '#/definitions/RouteToLocation'
        minItems: 1
  CNCATrafficInfluSubPatch:
    title: CNCATrafficInfluSubPatch
    type: object
    properties:
      trafficFilters:
        description: Identifies IP packet filters.
        type: array
        items:
          $ref: '#/definitions/FlowInfo'
        minItems: 1
      trafficRoutes:
        description: Identifies the N6 traffic routing requirement.
        type: array
        items:
          $ref: '#/definitions/RouteToLocation'
        minItems: 1
  ProblemDetails:
    title: ProblemDetails
    type: object
    properties:
      type:
        $ref: '#/definitions/Link'
      title:
        description: A short, human-readable summary of the problem type. It should not change from occurrence to occurrence of the problem.
        type: string
      status:
        description: The HTTP status code for this occurrence of the problem.
        type: integer
        format: int32
      detail:
        description: A human-readable explanation specific to this occurrence of the problem.
        type: string
      instance:
        $ref: '#/definitions/Link'
      cause:
        description: A machine-readable application error cause specific to this occurrence of the problem. This IE should be present and provide application-related error information, if available.
        type: string
      invalidParams:
        description: Description of invalid parameters, for a request rejected due to invalid parameters.
        type: array
        items:
          $ref: '#/definitions/InvalidParam'
        minItems: 1
  FlowInfo:
    title: FlowInfo
    type: object
    properties:
      flowId:
        description: Indicates the IP flow.
        type: integer
        format: int32
      flowDescriptions:
        description: Indicates the packet filters of the IP flow. Refer to subclause 5.3.8 of 3GPP TS 29.214 for encoding. It shall contain UL and/or DL IP flow description.
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 2
    required:
      - flowId
  InvalidParam:
    title: InvalidParam
    type: object
    properties:
      param:
        description: Attribute''s name encoded as a JSON Pointer, or header''s name.
        type: string
      reason:
        description: A human-readable reason, e.g. "must be a positive integer".
        type: string
    required:
      - param
  RouteToLocation:
    title: RouteToLocation
    type: object
    properties:
      dnai:
        type: string
      routeInfo:
        $ref: '#/definitions/RouteInformation'
      routeProfId:
        type: string
    required:
      - dnai
  RouteInformation:
    title: RouteInformation
    type: object
    properties:
      ipv4Addr:
        description: string identifying a Ipv4 address formatted in the "dotted decimal" notation as defined in IETF RFC 1166.
        type: string
      ipv6Addr:
        description: string identifying a Ipv6 address formatted according to clause 4 in IETF RFC 5952. The mixed Ipv4 Ipv6 notation according to clause 5 of IETF RFC 5952 shall not be used.
        type: string
      portNumber:
        type: integer
        minimum: 0
        format: int32
    required:
      - portNumber
  SubscribedEvent:
    type: string
    enum:
        - UP_PATH_CHANGE
    description: A possible value is CHANGE_OF_DNAI - the AF requests to be notified when the UP path changes for the PDU isession.
  Link:
    type: string
    description: string formatted according to IETF RFC 3986 identifying a referenced resource.

externalDocs:
  url: 'http://www.3gpp.org/ftp/Specs/archive/29_series/29.522/'
  description: 3GPP TS 29.522 V15.2.0; 5G System; Network Exposure Function Northbound APIs.
