swagger: '2.0'
info:
  version: 1.0.1
  title: AF Northbound API
  description: NEF Northbound API schema
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
host: sampleapi.com
basePath: /CNCA/1.0.1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/subscriptions':
    get:
      description: read all of the active subscriptions for the AF
      summary: read all of the active subscriptions for the AF
      tags:
        - TrafficInfluence API SCS/AS level GET Operation
      operationId: SubscriptionsGet
      deprecated: false
      produces:
        - application/json
      responses:
        '200':
          description: OK.
          schema:
            type: array
            items:
              $ref: '#/definitions/TrafficInfluSub'
          headers: {}
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '406':
          description: Not Acceptable
          schema:
            $ref: '#/definitions/ProblemDetails'
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ProblemDetails'
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ProblemDetails'
        default:
          description: Generic Error
          schema: {}
    post:
      description: Creates a new subscription resource
      summary: Creates a new subscription resource
      tags:
        - TrafficInfluence API Subscription level POST Operation
      operationId: SubscriptionsPost
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          description: Request to create a new subscription resource
          schema:
            $ref: '#/definitions/TrafficInfluSub'
      responses:
        '201':
          description: Created (Successful creation of subscription)
          schema:
            description: string providing subscriptionID generated for the given subscription
            type: string
          headers:
            Location:
              description: Contains the URI of the newly created resource
              type: string
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '411':
          description: Length Required
          schema:
            $ref: '#/definitions/ProblemDetails'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ProblemDetails'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ProblemDetails'
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ProblemDetails'
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ProblemDetails'
        default:
          description: Generic Error
          schema: {}
  '/subscriptions/{subscriptionId}':
    get:
      description: Read an active subscriptions for the AF and the subscription Id
      summary: Read an active subscriptions for the AF and the subscription Id
      tags:
        - TrafficInfluence API Subscription level GET Operation
      operationId: SubscriptionsBySubscriptionIdGet
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: subscriptionId
          in: path
          required: true
          type: string
          description: Identifier of the subscription resource
      responses:
        '200':
          description: OK (Successful get the active subscription)
          schema:
            $ref: '#/definitions/TrafficInfluSub'
          headers: {}
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '406':
          description: Not Acceptable
          schema:
            $ref: '#/definitions/ProblemDetails'
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ProblemDetails'
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ProblemDetails'
        default:
          description: Generic Error
          schema: {}
    put:
      description: Updates/replaces an existing subscription resource
      summary: Updates/replaces an existing subscription resource
      tags:
        - TrafficInfluence API subscription level PUT Operation
      operationId: SubscriptionsBySubscriptionIdPut
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: subscriptionId
          in: path
          required: true
          type: string
          description: Identifier of the subscription resource
        - name: body
          in: body
          required: true
          description: Parameters to update/replace the existing subscription
          schema:
            $ref: '#/definitions/TrafficInfluSub'
      responses:
        '200':
          description: OK (Successful update of the subscription)
          schema:
            $ref: '#/definitions/TrafficInfluSub'
          headers: {}
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '411':
          description: Length Required
          schema:
            $ref: '#/definitions/ProblemDetails'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ProblemDetails'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ProblemDetails'
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ProblemDetails'
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ProblemDetails'
        default:
          description: Generic Error
          schema: {}
    patch:
      description: Updates/replaces an existing subscription resource
      summary: Updates/replaces an existing subscription resource
      tags:
        - TrafficInfluence API subscription level PATCH Operation
      operationId: SubscriptionsBySubscriptionIdPatch
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: subscriptionId
          in: path
          required: true
          type: string
          description: Identifier of the subscription resource
        - name: body
          in: body
          required: true
          description: Provides a patch for traffic subscription identified by subscription ID
          schema:
            $ref: '#/definitions/TrafficInfluSubPatch'
      responses:
        '200':
          description: OK. The subscription was modified successfully.
          schema:
            $ref: '#/definitions/TrafficInfluSub'
          headers: {}
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '411':
          description: Length Required
          schema:
            $ref: '#/definitions/ProblemDetails'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ProblemDetails'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ProblemDetails'
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ProblemDetails'
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ProblemDetails'
        default:
          description: Generic Error
          schema: {}
    delete:
      description: Deletes an already existing subscription
      summary: Deletes an already existing subscription
      tags:
        - TrafficInfluence API Subscription level DELETE Operation
      operationId: SubscriptionsBySubscriptionIdDelete
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: subscriptionId
          in: path
          required: true
          type: string
          description: Identifier of the subscription resource
      responses:
        '204':
          description: No Content (Successful deletion of the existing subscription)
          headers: {}
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ProblemDetails'
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ProblemDetails'
        default:
          description: Generic Error
          schema: {}
definitions:
  TrafficInfluSub:
    title: TrafficInfluSub
    type: object
    properties:
      afServiceId:
        description: Identifies a service on behalf of which the AF is issuing the request.
        type: string
      afAppId:
        description: Identifies an application.
        type: string
      afTransId:
        description: Identifies an NEF Northbound interface transaction, generated by the AF.
        type: string
      appReloInd:
        description: Identifies whether an application can be relocated once a location of the application has been selected.
        type: boolean
      dnn:
        description: Identifies data network name
        type: string
      snssai:
          $ref: '#/definitions/Snssai'
      externalGroupId:
        description: string containing a local identifier followed by "@" and a domain identifier. Both the local identifier and the domain identifier shall be encoded as strings that do not contain any "@" characters. See Clauses 4.6.2 and 4.6.3 of 3GPP TS 23.682 for more information.
        type: string
      anyUeInd:
        description: Identifies whether the AF request applies to any UE.
        type: boolean
      subscribedEvents:
        description: Identifies the requirement to be notified of the event(s).
        type: array
        items:
           $ref: '#/definitions/SubscribedEvent'
        minItems: 1
      gpsi:
        type: string
        pattern: '^(msisdn-[0-9]{5,15}|extid-[^@]+@[^@]+|.+)$'
      ipv4Addr:
        description: string identifying a Ipv4 address formatted in the "dotted decimal" notation as defined in IETF RFC 1166.
        type: string
      ipv6Addr:
        description: string identifying a Ipv6 address formatted according to clause 4 in IETF RFC 5952. 
        type: string
      macAddr:
        type: string
        pattern: '^([0-9a-fA-F]{2})((-[0-9a-fA-F]{2}){5})$'
      dnaiChgType:
        description: Identifies the type of notification regarding UP path management event. Possible values are EARLY - early notification of UP path reconfiguration. EARLY_LATE - early and late notification of UP path reconfiguration. This value shall only be present in the subscription to the DNAI change event. LATE - late notification of UP path reconfiguration.
        type: string
        enum: 
          - EARLY
          - LATE
          - EARLY_LATE
      notificationDestination:
        $ref: '#/definitions/Link'
      requestTestNotification:
        description: Set to true by the AF to request the NEF to send a test notification. Set to false or omitted otherwise.
        type: boolean
      websockNotifConfig:
        $ref: '#/definitions/WebsockNotifConfig'
      self:
        $ref: '#/definitions/Link'
      trafficFilters:
        description: Identifies IP packet filters.
        type: array
        items:
          $ref: '#/definitions/FlowInfo'
        minItems: 1
      ethTrafficFilters:
        description: Identifies Ethernet packet filters.
        type: array
        items:
          $ref: '#/definitions/EthFlowDescription'
        minItems: 1
      trafficRoutes:
        description: Identifies the N6 traffic routing requirement.
        type: array
        items:
          $ref: '#/definitions/RouteToLocation'
        minItems: 1
      tempValidities:
        type: array
        items:
          $ref: '#/definitions/TemporalValidity'
      validGeoZoneIds:
        description: Identifies a geographic zone that the AF request applies only to the traffic of UE(s) located in this specific zone.
        type: array
        items:
          type: string
        minItems: 1
      suppFeat:
        $ref: '#/definitions/SupportedFeatures'
  TrafficInfluSubPatch:
    title: TrafficInfluSubPatch
    type: object
    properties:
      appReloInd:
        description: Identifies whether an application can be relocated once a location of the application has been selected.
        type: boolean
      trafficFilters:
        description: Identifies IP packet filters.
        type: array
        items:
          $ref: '#/definitions/FlowInfo'
        minItems: 1
      ethTrafficFilters:
        description: Identifies Ethernet packet filters.
        type: array
        items:
          $ref: '#/definitions/EthFlowDescription'
        minItems: 1
      trafficRoutes:
        description: Identifies the N6 traffic routing requirement.
        type: array
        items:
          $ref: '#/definitions/RouteToLocation'
        minItems: 1
      tempValidities:
        type: array
        items:
          $ref: '#/definitions/TemporalValidity'
        minItems: 1
      validGeoZoneIds:
        description: Identifies a geographic zone that the AF request applies only to the traffic of UE(s) located in this specific zone.
        type: array
        items:
          type: string
        minItems: 1
  TemporalValidity:
    title: TemporalValidity
    description: Indicates the time interval(s) during which the AF request is to be applied
    type: object
    properties:
      startTime:
        description: string with format "date-time" as defined in OpenAPI.
        type: string
      stopTime:
        description: string with format "date-time" as defined in OpenAPI.
        type: string
  ProblemDetails:
    title: ProblemDetails
    type: object
    properties:
      type:
        description: string providing an URI formatted according to IETF RFC 3986.
        type: string
      title:
        description: A short, human-readable summary of the problem type. It should not change from occurrence to occurrence of the problem.
        type: string
      status:
        description: The HTTP status code for this occurrence of the problem.
        type: integer
        format: int32
      detail:
        description: A human-readable explanation specific to this occurrence of the problem.
        type: string
      instance:
        description: string providing an URI formatted according to IETF RFC 3986.
        type: string
      cause:
        description: A machine-readable application error cause specific to this occurrence of the problem. This IE should be present and provide application-related error information, if available.
        type: string
      invalidParams:
        description: Description of invalid parameters, for a request rejected due to invalid parameters.
        type: array
        items:
          $ref: '#/definitions/InvalidParam'
        minItems: 1
  FlowInfo:
    title: FlowInfo
    type: object
    properties:
      flowId:
        description: Indicates the IP flow.
        type: integer
        format: int32
      flowDescriptions:
        description: Indicates the packet filters of the IP flow. Refer to subclause 5.3.8 of 3GPP TS 29.214 for encoding. It shall contain UL and/or DL IP flow description.
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 2
    required:
      - flowId
  EthFlowDescription:
    title: EthFlowDescription
    description: Identifies an Ethernet flow
    type: object
    properties:
      destMacAddr:
        type: string
        pattern: '^([0-9a-fA-F]{2})((-[0-9a-fA-F]{2}){5})$'
      ethType:
        type: string
      fDesc:
        description: Defines a packet filter of an IP flow.
        type: string
      fDir:
        description: Possible values are DOWNLINK - The corresponding filter applies for traffic to the UE. UPLINK - The corresponding filter applies for traffic from the UE. - BIDIRECTIONAL The corresponding filter applies for traffic both to and from the UE. UNSPECIFIED - The corresponding filter applies for traffic to the UE (downlink), but has no specific direction declared. The service data flow detection shall apply the filter for uplink traffic as if the filter was bidirectional.
        type: string
        enum: 
          - DOWNLINK
          - UPLINK
          - BIDIRECTIONAL
          - UNSPECIFIED
      sourceMacAddr:
        type: string
        pattern: '^([0-9a-fA-F]{2})((-[0-9a-fA-F]{2}){5})$'
      vlanTags:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 2
    required:
      - ethType
  WebsockNotifConfig:
    title: WebsockNotifConfig
    type: object
    properties:
      websocketUri:
        description: string formatted according to IETF RFC 3986 identifying a referenced resource.
        type: string
      requestWebsocketUri:
        description: Set by the AF to indicate that the Websocket delivery is requested.
        type: boolean
  InvalidParam:
    title: InvalidParam
    type: object
    properties:
      param:
        description: Attribute''s name encoded as a JSON Pointer, or header''s name.
        type: string
      reason:
        description: A human-readable reason, e.g. "must be a positive integer".
        type: string
    required:
      - param
  RouteToLocation:
    title: RouteToLocation
    type: object
    properties:
      dnai:
        type: string
      routeInfo:
        $ref: '#/definitions/RouteInformation'
      routeProfId:
        type: string
    required:
      - dnai
  RouteInformation:
    title: RouteInformation
    type: object
    properties:
      ipv4Addr:
        description: string identifying a Ipv4 address formatted in the "dotted decimal" notation as defined in IETF RFC 1166.
        type: string
      ipv6Addr:
        description: string identifying a Ipv6 address formatted according to clause 4 in IETF RFC 5952. The mixed Ipv4 Ipv6 notation according to clause 5 of IETF RFC 5952 shall not be used.
        type: string
      portNumber:
        type: integer
        minimum: 0
        format: int32
    required:
      - portNumber
  Snssai:
    title: Snssai
    type: object
    properties:
      sst:
        type: integer
        minimum: 0
        maximum: 255
        format: int32
      sd:
        type: string
        pattern: '^[A-Fa-f0-9]{6}$'
    required:
      - sst
  SubscribedEvent:
    type: string
    enum:
        - UP_PATH_CHANGE
    description: A possible value is CHANGE_OF_DNAI - the AF requests to be notified when the UP path changes for the PDU isession.
  Link:
      type: string
      description: string formatted according to IETF RFC 3986 identifying a referenced resource.
  SupportedFeatures:
      type: string
      pattern: '^[A-Fa-f0-9]*$'
      
externalDocs:
  url: 'http://www.3gpp.org/ftp/Specs/archive/29_series/29.522/'
  description: 3GPP TS 29.522 V15.2.0; 5G System; Network Exposure Function Northbound APIs.
